// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@font-face {
  font-family: 'Logo';
  src: url('KavoonRegular-Dp7E.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'UserName';
  src: url('Phenomena-Black.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.body {
  min-height: 100vh;
  background-color: $main-background-color;

  .search_box {
    padding-top: 80px;
    
    .search_input {
      width: 550px;
      height: 60px;
      margin-top: 70px;
      margin-left: 400px;
      border-radius:30px;
      border: 1px solid #BBBBBB;
      outline: none;
      padding: 2px 8px;
    }
    .search_btn {
      height: 45px;
      border-radius: 20px;
      border: 1px solid #9370DB;
      background-color: rgba(219, 234, 255, 0.7);
      font-size: 18px;
      width: 70px;     
    }
  }

  .main_content {
    height: 100vh;
    width: 100%;
    background-color: $main-background-color;
    padding-top: 80px;
    overflow: scroll;

    .content_post{
      background-repeat: no-repeat;
      height: 400px;
      width: 500px;
      text-align: center;
      line-height: 100%;
      margin: 40px;
      background-size: cover;
      background-position: center center;
    }

    .post {
      margin: 50px auto;
      width: 600px;

      .post_user_nickname {
        color: $other-post-content-text-color;
        
        .post_user_name_link {
          text-decoration: none;
          color: #696969;
        }
        .post_user_name_link:hover {
          font-weight: bold;
        }
        
      }

      .more {

        .more_list {
          
          display: flex;

          li {
            
            a {
              text-decoration: none;
              color: $other-post-content-text-color;
              margin-right: 5px;
              color: #696969;
            }
            a:hover {
              font-weight: bold;
            }
            .edit_text {
              color: $other-post-content-text-color;
            }
            .delete_text {
              color: $other-post-content-text-color;
            }
          }
        }        
      }
      
      &__text {
        color: $text-color;

      }
      &__bottom-navi {
        display: flex;
      }
      &__date {
        color: $other-post-content-text-color;
        font-size: 12px;
      }
      .like-counts {
        margin-left: 20px;
        color: $other-post-content-text-color;
        font-size: 14px;
        &::before{
          font-family: "Font Awesome 5 Free";
          font-weight: bold;
          content: '\f004';
          color: rgb(255, 112, 195);
        }
      }
    }
  }
}



