.row_contents {
  padding-top: 80px;
  min-height: 100vh;
  background-color: #F0FFF0;

  &__detail {
    margin-left: 490px;
    margin-top: 60px;


    &__image {

    }
    .option {
      display: flex;
      justify-content: space-between;
      &__like {
        &-on {
          text-decoration: none;
          padding: 5px 10px;
          border-radius: 40px;
          color: #FF82B2;
          border: 1px solid #FF367F;
          display: flex;
          line-height: 16px;
          .fas.fa-heart {
            padding-right: 5px;
          }
          &__text {
            padding-right: 5px;
          }
        }
        &-off {
          text-decoration: none;
          padding: 5px 10px;
          border-radius: 40px;
          color: #696969;
          border: 1px solid #f5f5f5;
          display: flex;
          line-height: 16px;
          .fas.fa-heart {
            padding-right: 5px;
          }
          &__text {
            padding-right: 5px;
          }
        }
      }
    }

  }

  .comments_input_form {
    margin: 10px 0 0 490px;
  }

  .comments_all {
    margin-left: 490px;
  }
}