.row_contents {
  padding-top: 80px;
  min-height: 100vh;
  background-color: #F0FFF0;

  &__detail {
    margin-left: 490px;
    margin-top: 60px;


    &__image {

    }

  }

  .comments_input_form {
    margin-left: 490px;

  }

  .comments_all {
    margin-left: 490px;
  }
}